apiVersion: batch/v1
kind: Job
metadata:
  name: postgres-init
  namespace: springboot-dev
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: init
          image: postgres:15
          envFrom:
            - secretRef:
                name: postgres-secret
          command:
            - /bin/sh
            - -c
            - |
              export PGPASSWORD="$POSTGRES_PASSWORD"
              psql -h postgres -U "$POSTGRES_USER" -d "$POSTGRES_DB" <<'SQL'
              CREATE TABLE IF NOT EXISTS orders (
                id VARCHAR(64) PRIMARY KEY
              );
              SQL

