server:
  port: 8080
  shutdown: graceful

spring:
  application:
    name: inventory-service
  lifecycle:
    timeout-per-shutdown-phase: 30s

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

