apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: springboot-dev
spec:
  type: ClusterIP
  selector:
    app: inventory-service
  ports:
    - port: 80
      targetPort: 8080

